@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
</div>

<div class="row">
    <div class="col-sm-8">
        <img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" />
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12"><img class="sale-banner" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
            <div class="col-sm-12"><img class="sale-banner mini-sales" src="~/Images/61bt1h71IiL._SS500_.jpg" /></div>
        </div>
    </div>
</div>