body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("../images/backgroundBlur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.imageHeader {
    width: 50%;
    height: auto;
    max-height:50%;
}
.mainlogo {
    width: 100%;
    height: auto;
}
.mySlides {
    display: none;
    width:100%;
    height:auto;
    max-height:300px;
}

.w3-content .w3-section {
    width: 100%;
}
.productPagehr{
    border-top:1px solid #000000;
}
.productpageh3 {
    color: #0066ff;
    font-weight: bold;
}
.product{
    float:left;
   
}