@{ ViewBag.Title = "Առաքում և վճարում"; }
<h2 style="font-weight: 800;">Առաքում և վճարում</h2>
<p style="font-weight: 400;">doramarket.am-ում գնումների համար վճարումն իրականացվում է երկու եղանակով՝</p>
<p style="font-weight: 400;">առցանց կամ առձեռն:</p>
<p style="font-weight: 400;">1.Առցանց վճարումները կատարվում են ARCA,Visa&nbsp;&nbsp;և Master Card վճարային քարտերով:</p>
<p style="font-weight: 400;">Այցելուն գնումը պատվիրելիս լրացնում է անհրաժեշտ տվյալները և քարտով իրականացնում վճարումը:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p style="font-weight: 400;">&nbsp;</p>
<img src="~/images/card_info.png" />
<p style="font-weight: 400;">2.Կանխիկ վճարում:</p>
<p style="font-weight: 400;">Կանխիկ վճարումն իրականացվում է առաքման պահին՝ՀՀ դրամով:Հակառակ դեպքում</p>
<p style="font-weight: 400;">ընկերության առաքիչն իրավունք ունի ապրանքները վերադարձնել ընկերություն:</p>
<p style="font-weight: 400;"><a href="http://doramarket.am/" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://doramarket.am&amp;source=gmail&amp;ust=1526487430315000&amp;usg=AFQjCNHJzU3c0kp81Bg4AaeAG4T48x_u1Q">doramarket.am</a>&nbsp;կայքից օգտվելիս առաքման համար գործում են հետևյալ սակագները.</p>
<p style="font-weight: 400;">Աբովյան քաղաք&nbsp;&nbsp;&nbsp;300դրամ</p>
<p style="font-weight: 400;">Բալահովիտ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;400դրամ:</p>
<p style="font-weight: 400;">Պատվիրելուց պարզապես լրացնում եք Ձեր տվյալները,առաքման հասցեն ու հեռախոսահամարը:Գնված ապրանքները առաքվում են շատ արագ:</p>
<p style="font-weight: 400;"><a href="http://doramarket.am/" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://doramarket.am&amp;source=gmail&amp;ust=1526487430315000&amp;usg=AFQjCNHJzU3c0kp81Bg4AaeAG4T48x_u1Q">doramarket.am</a>&nbsp;&ndash;ից գնումներ կատարելը շատ հարմար է և մատչելի:</p>
<p style="font-weight: 400;">Խնդրում ենք ապրանքը ստուգել տեղում՝առաքիչի մոտ:</p>
<p><span style="font-weight: 400;">Եթե գնորդը ընդունում է ապրանքը ու հետագայում գնված ապրանքի հետ խնդիր է լինում, ապա doramarket.am-ը դրա համար պատասխանատվություն չի</span><span style="font-weight: 400;">&nbsp;&nbsp;</span><span style="font-weight: 400;">կրում:</span></p>