
@{
    ViewBag.Title = "Delivery";
}

<p>Доставка&nbsp;и оплата<br /><strong>Доставка по Москве:</strong><br /><strong>&nbsp;&nbsp;- до станции метро - бесплатно;</strong><br /><strong>&nbsp;&nbsp;- до двери - 300 руб.</strong><br /><strong>&nbsp;&nbsp;Доставка за МКАД - 300р. + 40р./км.</strong><br />Наш курьер доставит заказ по указанному адресу&nbsp;с 10:00 до 21:00&nbsp;в<br />выбранный вами интервал времени (из предложенных при<br />оформлении заказа). Курьер дополнительно свяжется с вами перед<br />выездом (ориентировочно за 1 час). По указанному адресу курьер<br />будет ждать 15 минут, после чего мы оставляем за собой право<br />перенести доставку на другое время, согласовав его с вами.<br />Обратите внимание, что курьер передает товар для проверки только<br />после оплаты.</p>