
@{
    ViewBag.Title = "Страница не найдена";
}
<div align="center">
    <h2>Извините, но страница не найдена</h2>
    <p>Вернуться на <a href="~/home" style="color:black; font-weight:800;">главную</a> страницу</p>
</div>